.hero-container {
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
  }
  .name {
    text-align: center;
    color: #0044A6
  }
  
  .hero-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
    height: 442px;
    line-height: 0.5;
    padding: 15px;
  }
  
  .hero-card img {
    width: 100%;
    max-width: 391px; 
    height: 209px;
  }
  
  .search-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
    margin-bottom: 20px; 
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .fa-search {
    position: absolute;
    right: 10px;
    color: #999;
  }
  
  .no-results {
    text-align: center;
    margin-top: 20px;
  }
  
  