<div *ngIf="heroes.length > 0" class="main-container">
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar personaje" (input)="searchHeroes()">
      <i class="fa fa-search"></i>
    </div>
    <div class="hero-container">
      <div class="hero-card" *ngFor="let hero of heroes">
        <a [routerLink]="['/hero', hero.id]">
            <img [src]="hero.images?.sm" alt="{{ hero.name }} image">
            <h3 class="name">{{ hero.name }}</h3>
        </a>
        <p>Intelligence: {{ hero.powerstats?.intelligence }}</p>
        <p>Speed: {{ hero.powerstats?.speed }}</p>
        <p>Power: {{ hero.powerstats?.power }}</p>
        <p>Gender: {{ hero.appearance?.gender }}</p>
        <p>Race: {{ hero.appearance?.race || 'No definido' }}</p>
      </div>
    </div>
  </div>
  
  <div *ngIf="heroes.length === 0" class="no-results">
    <p>No se encontraron héroes que coincidan con la búsqueda "{{ searchTerm }}"</p>
    <button (click)="showRandomHeroes()">Regresar</button>
  </div>
